PyYAML==4.2b1
Pygments
argparse
backports.shutil-get-terminal-size
backports.ssl-match-hostname
cached-property
decorator
docker-compose
#docker-py
#docker-pycreds
dockerpty
docopt
enum34
httpie
ipaddress
ipython
ipython-genutils
jsonschema
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
requests
simplegeneric
six
texttable
traitlets
wcwidth
websocket-client
